<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title> 
    <link rel="stylesheet" href="/css/main.css">
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Web322 – Assignment 2 - Ali Khorram</a> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/shop">Shop</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/items">Items</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categories">Categories</a> 
                </li>
            </ul>
        </div>
    </nav>

    
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h2>About</h2> 
                <p>
                    
                    I'm currently studying Web Programming Tools and Frameworks, and my interests include learning web programming. I'm working towards my goals in programming.
                </p>
            </div>
            <div class="col-md-6">
                <h2>Coming Soon</h2>
                <p>Stay tuned for future updates…</p>
            </div>
        </div>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</body>
</html>
