<div class="container" style="padding-top: 90px;">
  <div class="row">
    <div class="col-md-12">
      <h2>Add Category</h2>
      <a href="/categories" class="btn btn-secondary pull-right">Back to Categories</a>
      <br /><br />
      <form method="post" action="/categories/add">
        <fieldset>
          <label for="category">Category:</label>
          <input class="form-control" id="category" name="category" type="text" autofocus />
        </fieldset>
        <br />
        <button type="submit" class="btn btn-primary">Add Category</button>
      </form>
    </div>
  </div>
</div>
